AFRHAJJ1438/Service References/_2wayWSDL/Untitled.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://xmlns.example.com/1483948284918/OperationImpl/MOH/Integration" xmlns:ns0="http://XSD.Yahajj.net/2WaySSL.Gov.Sa/V1" name="Untitled" targetNamespace="http://xmlns.example.com/1483948284918/OperationImpl/MOH/Integration" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns="http://XSD.Yahajj.net/2WaySSL.Gov.Sa/V1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://XSD.Yahajj.net/2WaySSL.Gov.Sa/V1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="Result">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ERROR_CODE" type="xs:string" />
            <xs:element name="ERROR_DESC" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="InputData" />
  <wsdl:message name="OutputData">
    <wsdl:part name="Result" element="ns0:Result" />
  </wsdl:message>
  <wsdl:portType name="PortType">
    <wsdl:operation name="Operation">
      <wsdl:input message="tns:InputData" />
      <wsdl:output message="tns:OutputData" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOAPEventSourceBinding" type="tns:PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Operation">
      <soap:operation soapAction="/MOH/Integration/2WaySSL" style="document" soapActionRequired="true" />
      <wsdl:input>
        <soap:body use="literal" parts="" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="Result" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="_2WaySSL">
    <wsdl:port name="SOAPEventSource" binding="tns:SOAPEventSourceBinding">
      <soap:address location="https://b2b.haj.gov.sa/MOH/Integration/2WaySSL" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>